/* Major interface panes, aside, article, header, etc. */

svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}

#dashboard-container {
    width: 100%;
    height: 100%;
}

#left-column, #center-column, #right-column {
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
}

#left-column {
    float: left;
    width: 400px;
    height: 100%;
    margin-left: 30px;
    margin-top: 15px;
}

#center-column {
    height: 100%;
}

#right-column {
    float: right;
    width: 400px;
    height: 100%;
}

#camera {
    position: static;
    width: 640px;
    height: 480px;
    overflow: hidden;
    background-color: #333;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}

#lower-panel {
    position: static;
    display: flex;
    width: auto;
    height: auto;
    max-height: 500px;
    margin-left: 30px;
    margin-top: 15px;
}

#timer {
    font-family: monospace;
    float: left;
    display: block;
    height: 20vh;
    width: auto;
    top: 0;
    left: 0;
    font-size: 10vh;
    line-height: .8;
    flex-grow: 1;
}

#gyro-container {
    flex-grow: 1;
}

#gyro {
    margin-left: auto;
    margin-right: auto;
}
#gyro-arm {
    stroke: red;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}
#robot-diagram {
    position: relative;
    bottom: 1px;
    right: 1vw;
}
#robot-arm {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}